.hidden{
    width: calc(100% - 80px);
}

.show{
    width: calc(100% - 200px);
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: aquamarine;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

    
}