.homePage {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    .nav {
        position: absolute;
        width: 320px;
        height: 100vh;
        top: var(--heightHeader) !important;
        left: 0;
        bottom: 0;
        background: #f4f7f6;
        z-index: 91;
        opacity: 0;
        @include transform(translateX(-100%));
        @include transition($t);
        &.active {
            opacity: 1;
            pointer-events: auto;
            @include transition($t);
            @include transform(translateX(0));
        }
        ul {
            height: 100%;
            li {
                list-style-type: none;
                @include transition($t);
                cursor: pointer;
                a {
                    text-decoration: none;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    text-transform: capitalize;
                    font-family: ab;
                    white-space: nowrap;
                    padding: 20px 35px;
                    justify-content: flex-start;
                    border-bottom: 1px solid #d2d2d2;
                    color: #222;
                    font-size: 100%;
                    @include transition($t);
                }
                &.active {
                    background: #2b2929;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}
